.main {
  flex: 1 0 auto;
}
.webp .main__content {
  background: url(../img/Rectangle.webp);
  background-position: center 100%;
  height: 604px;
}
.main__content {
  background: url(../img/Rectangle.png);
  background-position: center 100%;
  height: 604px;
  .main__stock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      color: #ffffff;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #ffffff;
    }
    button {
      color: #ffffff;
      width: 170px;
      height: 40px;
      background: #66c05d;
      border: 2px solid #ffffff;
      border-radius: 40px;
    }
  }
}
.shop {
  background: #efefef;
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    @media (max-width: ($md4+px)) {
      justify-content: center;
      margin: auto;
    }
    @media (max-width: ($md3+px)) {
      justify-content: center;
      margin: auto;
    }
  }
  &__header {
    display: flex;
    padding-top: 80px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }
  &__body {
    display: flex;
    margin: 30px 0 0 0;
    flex-direction: column;
    // border: solid;
    background: #ffffff;
    width: 255px;
    height: 363px;
    img {
      margin: auto;
      width: 100px;
    }
    p {
      margin: auto;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #333333;
    }
    .shop__price {
      font-weight: 500;
      font-size: 21px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #000000;
    }
    .shop__price:after {
      content: " \20BD";
    }
    .shop__button {
      background: #66c05d;
      border-radius: 30px;
      width: 130px;
      height: 35px;
      margin: auto;
    }
    .shop__button:hover {
      background: #65c05db9;
      transform: 1s;
    }
    .shop__button:active {
      background: #52bd49;
      transform: 1s;
    }
  }
  .shop__info {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 100px;
    justify-content: center;
    .shop__bonuses {
      width: 540px;
      height: 212px;
      background: #66c05d;
      display: flex;
      flex-wrap: wrap;
    }
    .shop__bonuses_text {
      margin: auto;
      color: #ffffff;
      @media (max-width: ($md3+px)) {
        margin: auto;
      }
      h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
      }
      p {
        margin-top: 25px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
      .shop__input {
        margin-top: 25px;
        width: 225px;
        height: 35px;
        background: #ffffff;
        border-radius: 30px;
        padding-left: 25px;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #c4c4c4;
      }
      .shop__bonuses_btn {
        margin-top: 25px;
        width: 170px;
        height: 35px;
        background: #66c05d;
        border: 2px solid #ffffff;
        border-radius: 30px;
        color: #ffffff;
      }
    }
    .shop__bonuses_img {
      margin: auto;
      
      @media (max-width: ($md4+px)) {
        img {
          display: none;
        }
      }
    }
  }
}
